// Countdown
.countdown-block {
  position: relative;
  background-image: linear-gradient(78deg, #212b86 10%, #0f1b84 99%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  justify-content: space-between;

  &--rectangle {
    padding: 22px 35px 25px;
    max-width: 608px;
    @include media-breakpoint-down(sm) {
      max-width: 96%;
      margin-right: auto;
      padding-left: 12px;
      padding-right: 12px;
    }
    .time-block {
      @include media-breakpoint-down(sm) {
        margin-bottom: 27px;
      }
    }
    .countdown-block__text {
      margin-bottom: 10px;
    }
    .countdown-block__wrap-content {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      @include media-breakpoint-up(lg) {
        min-width: 290px;
      }
    }
  }
  &--square {
    padding: 35px 20px 40px;
    margin-top: 8px;
    max-width: 336px;
    margin-left: auto;
    .tb-main-btn {
      margin-top: 38px;
    }
    .time-block {
      margin-top: 34px;
    }
    @include media-breakpoint-down(sm) {
      margin-right: auto;
      margin-top: 85px;
      padding-top: 19px;
      padding-bottom: 28px;
      .tb-main-btn {
        margin-top: 19px;
      }
      .time-block {
        margin-top: 12px;
      }
    }
  }
  &__title {
    color: #79f0e8;
    font-weight: bold;
    margin-bottom: 2px;
    text-align: center;
    font-size: 20px;
  }
  &__text {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.7;
    text-align: center;
  }
}

.time-block {
  display: flex;
  justify-content: space-around;
  width: 100%;
  &__item {
    position: relative;
    min-width: 64px;
    width: 25%;
    &:not(:last-child) .time-block__item-units::after {
      content: "";
      border-right: 1px solid $primary;
      position: absolute;
      right: 0;
      top: 20%;
      // bottom: 0;
      height: 16px;
    }
  }
  &__item-units {
    color: $purpur;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 1;
    margin-top: 3px;
  }
  &__item-value {
    font-weight: 300;
    font-size: 42px;
    color: $white;
    letter-spacing: 0;
    text-align: center;
    line-height: 1;
  }
}

.tb-main-btn {
  background-image: linear-gradient(0deg, #1bb6f2 0%, #68d5ff 99%);
  border: 1px solid #1c267e;
  box-shadow: 0 12px 20px 3px rgba(37, 44, 102, 0.4);
  letter-spacing: 0.24px;
  text-shadow: 0 1px 4px $blue;
  min-width: 200px;
  min-height: 56px;
  font-size: 20px;
}
