//DIFFERENTS section

.differents-section {
  background-image: linear-gradient(0deg, #fafaff 0%, #f2f2fc 100%);
  padding-top: 34px;
  padding-bottom: 32px;
  @include media-breakpoint-up(md) {
    padding-top: 118px;
    padding-bottom: 160px;
  }
  &__top {
    h2 {
      margin-bottom: 21px;
      @include media-breakpoint-down(sm) {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        line-height: 25px;
      }
    }
  }
}

.differents-wrap--sm {
  padding-left: 0;
  padding-right: 0;
}

.differents {
  margin-top: 7px;
  @include media-breakpoint-up(lg) {
    max-width: 86.2%;
  }
  @include media-breakpoint-up(md) {
    margin-top: 70px;
  }

  &--sm {
    margin-top: 36px;
    @include media-breakpoint-up(md) {
      display: none;
    }
    .differents__header {
      .differents__item {
        background: rgba(229, 231, 255, 0.6);
        border-bottom: 1px solid $light;
        padding-top: 12px;
        &--sidebar {
          background: #e5e7ff;
        }
        .differents__text {
          color: $info;
          font-weight: bold;
        }
      }
    }
    .differents__body {
      .differents__item {
        background-color: $white;
        padding: 10px 15px;
        &--sidebar {
          background-color: #fbfbfe;
          padding: 20px 5px 10px 45px;
          .differents__title {
            line-height: 1;
          }
        }
      }
    }
    .differents__item {
      width: 100%;
      height: 64px;
    }
    .differents__logo {
      svg {
        width: 68px;
        height: 12px;
      }
    }
  }

  &--lg {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    .differents__header {
      .differents__item {
        &:not(:first-child) {
          padding: 0 10px 10px;
          justify-content: flex-start;
        }
        &:nth-child(1) {
          background: rgba(189, 195, 255, 0.4);
          .differents__text {
            color: $info;
            font-weight: bold;
          }
        }
        &:nth-child(1) {
          width: 18%;
        }
        &:nth-child(2) {
          width: 23.5%;
        }
        &:nth-child(3) {
          width: 21.5%;
        }
        &:nth-child(4) {
          width: 21.5%;
        }
      }
      .differents__logo {
        margin-top: 12px;
        svg {
          width: 121px;
          height: 20px;
        }
      }
    }
    .differents__body {
      .differents__item {
        &:nth-child(1) {
          width: 15.5%;
        }
        &:nth-child(2) {
          width: 18%;
        }
        &:nth-child(3) {
          width: 23.5%;
        }
        &:nth-child(4) {
          width: 21.5%;
        }
        &:nth-child(5) {
          width: 21.5%;
        }
      }
      .differents__row--lg {
        .differents__item {
          &:nth-child(1) {
            width: 18.3%;
          }
          &:nth-child(2) {
            width: 16.55%;
          }
          &:nth-child(3) {
            width: 23%;
          }
          &:nth-child(4) {
            width: 18.1%;
          }

          &:nth-child(5) {
            width: 24.1%;
            @include media-breakpoint-up(lg) {
              padding-right: 76px;
            }
          }
        }
      }
    }
  }
  &__body {
    .differents__row {
      min-height: 64px;
      &:nth-child(2n + 1) {
        background-color: $white;
      }
      &:nth-child(2n) {
        background-image: linear-gradient(90deg, #ffffff 0%, #f3f4fe 100%);
        border-radius: 4px;
      }
    }
    .differents__item:nth-child(2) {
      background: rgba(189, 195, 255, 0.4);
      .differents__text {
        color: $info;
        font-weight: bold;
      }
    }

  }
  &__row {
    max-width: 92%;
    min-width: 92%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    &--header {
      min-height: 75px;
      background-color: transparent;
    }
    &--lg {
      box-shadow: 0 6px 21px 0 rgba(21, 53, 90, 0.11),
        0 1px 3px 0 rgba(31, 39, 105, 0.04);
      height: 84px;
      max-width: 100%;
      .differents__text {
        font-size: 1rem;
        font-weight: bold;
      }


    }
  }
  &__item {
    text-align: center;
    padding: 5px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-family: "SF-Pro-Display";
    font-weight: 600;
    font-size: 1rem;
    color: $dark;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    margin-bottom: 9px;
    &--side {
      font-size: $font-size-sm;
      margin-bottom: 0;
    }
  }
  &__subtitle {
    font-weight: bold;
    font-size:11px;
    color: $text-muted;
    letter-spacing: 0.17px;
    text-align: center;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    color: #66747d;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
  }
  &__btn {
    background: #ffffff;
    border: 1px solid #c2cfd8;
    box-shadow: 0 6px 14px 3px rgba(37, 44, 102, 0.06);
    font-size: 0.9375rem;
    color: $text-muted;
    letter-spacing: 0.18px;
    text-align: center;
    margin-top: 48px;
    padding: 8px 24px;
    &--sm {
      margin-top: 30px;
      padding: 5px 16px;
    }
  }
}

.differents-tabs {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  min-height: 44px;
  border-bottom: 0;
  &__link {
    font-weight: bold;
    font-size: 11px;
    color: rgba(44, 57, 72, 0.5);
    letter-spacing: 0;
    padding: 12px 0 0;
    &:hover,
    &:active {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      color: $dark;
    }
  }
}

.active.differents-tabs__link {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}