//FOOTER section
.footer-section {
  padding-top: 25px;
  @include media-breakpoint-up(md) {
    padding-top: 94px;
  }
  background-image: linear-gradient(-52deg, #2f3a9c 16%, #212c90 100%);
  &__top {
    padding-top: 24px;
    @include media-breakpoint-down(sm) {
      padding-bottom: 22px;
    }
    h2 {
      letter-spacing: 0.4px;
      margin-bottom: 14px;
      @include media-breakpoint-up(md)  {
        margin-bottom: 11px;
      }
    }
    .top-text {
      font-size: 16px;
      color: $light;
      @include media-breakpoint-down(sm) {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.socials-stores-wrap {
  margin-top: 26px;
  @include media-breakpoint-up(md) {
    margin-top: 64px;
  }
}

.stores {
  display: flex;
  justify-content: center;
  margin-top: 43px;
  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-top: 37px;
  }
}
.socials {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 43px;
  padding-left: 7px;
  padding-right: 7px;
  @include media-breakpoint-up(md) {
    width: 292px;
    padding: 0;
  }
  &__link {
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  &__text {
    @include sr-only();
  }
  &__icon {
    svg {
      width: 25px;
      height: 19px;
    }
  }
}

.footer-navbar {
  margin-top: 27px;
  box-shadow: inset 0 1px 0 0 #414ecc;
  @include media-breakpoint-down(sm) {
    margin-top: 34px;
    padding: 4px 10px 0;
  }
  &__link {
    font-size: 12px;
    padding: 8px 0;
    @include media-breakpoint-up(md) {
      padding: 7px 0 15px 41px;
      font-size: 14px;
    }
  }
  &__nav {
    @include media-breakpoint-down(sm) {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.copyright {
  font-weight: bold;
  font-size: 14px;
  color: #7882e4;
  letter-spacing: 0;
  line-height: 25px;
  padding: 0 0 15px;
  @include media-breakpoint-up(md) {
    padding-top: 10px;
  }
}

/* Tooltip */
.tooltip {
  font-weight: bold;
}

@keyframes layer-icon {
  0% {
    transform: translateY(0);
  }
  49% {
    transform: translateY(8px);
  }
  99% {
    transform: translateY(0);
  }
}

@keyframes layer-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes layer-bounce {
  from {
    height: 50px;
  }
  to {
    height: 92px;
  }
}

