//TOP section
.top-section {
  background-image: linear-gradient(90deg, #273190 0%, #0f1b84 100%);
  min-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  &__item {
    margin-left: 32px;
    display: flex;
  }
  &__icon {
    height: 19px;
    margin-right: 8px;
    margin-top: 1px;
  }
}

//HEADER section
.header-section {
  background-image: linear-gradient(52deg, #2f3a9c 16%, #212c90 100%);
}

.nav-collapse-bg {
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
    background-image: linear-gradient(52deg, #747fe9 16%, #3747dc 100%) !important;
    .navbar-toggler-icon {
      background-image: url(../icons/arrow-nav-icon.svg);
      background-size: 71%;
    }
  }
}


.tb-navbar {
  @include media-breakpoint-up(md) {
    min-height: 80px;
  }
  &--bg {
    background: #222d90;
    box-shadow: 0 2px 4px 0 rgba(32, 39, 102, 0.1);
    transition: background-color 0.5s ease-in-out, background-image 0.5s ease-in-out;
  }

  &__brand-icon {
    margin-right: 16px;
    @include media-breakpoint-up(lg) {
      margin-right: 48px;
    }
    svg {
      height: 24px;
      width: 150px;
      margin-top: 8px;
      @include media-breakpoint-down(sm) {
        height: 22px;
        width: 140px;
        margin-left: 25px;
      }
    }
  }
  .navbar-toggler {
    margin-right: 9px;
    font-size: 18px;
    margin-top: 7px;
  }
  &__btn {
    font-size: 0.9375rem;
    margin-top: 4px;
    @include media-breakpoint-down(sm) {
      color: $navbar-dark-active-color;
      font-size: 18px;
      margin-top: 0;
      padding: 5px 23px;
    }
  }
  .navbar-nav {
    @include media-breakpoint-down(sm) {
      margin-top: 4px;
    }
    .nav-item {
      @include media-breakpoint-up(lg) {
        padding-left: 30px;
        padding-right: 30px;
        &:first-child {
          margin-right: 20px;
        }
      }

    }
    .nav-link {
      font-size: 1.0625rem;
      font-weight: bold;
      padding-left: 16px;
      padding-right: 16px;
      transition: box-shadow 0.15s linear;
      @include media-breakpoint-down(sm) {
        color: $navbar-dark-active-color;
        font-size: 18px;
        margin-top: 3px;
      }
      @include media-breakpoint-up(lg) {
        padding-left: 0;
        padding-right: 0;
      }
      &:hover,
      &:active,
      &.active {
        @include media-breakpoint-up(md) {
          box-shadow: 0 2px 0 0 $blue;
        }
      }
    }
  }
  &__links-block {
    min-height: 88px;
    background: rgba(15, 27, 132, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 23px;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  &__links-block-list {
    justify-content: space-evenly;
  }
}




//HERO section
.hero-block {
  padding-bottom: 40px;
  padding-top: 105px;
  @include media-breakpoint-up(lg) {
    max-width: 94%;
  }
  @include media-breakpoint-up(md) {
    padding-top: 240px;
    padding-bottom: 125px;
  }
  &__top {
    z-index: 1000;
    position: relative;
    padding-left: 3px;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    h1 {
      margin-bottom: 24px;
      @include media-breakpoint-up(lg) {
        margin-bottom: 12px;
      }
    }
    h3 {
      @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 23px;
      }
    }
  }
  &__title-content {
    max-width: 575px;
    @include media-breakpoint-down(sm) {
      max-width: 93%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.raised-progress-wrap {
  position: relative;
  margin-top: 31px;
  max-width: 570px;
  @include media-breakpoint-up(md) {
    margin-top: 70px;
  }
}

.raised-progress {
  background: #515cbe;
  border-radius: 3px;
  box-shadow: 0 0 0 6px #212B86;
  height: 25px;
  @include media-breakpoint-up(md) {
    box-shadow: 0 0 0 8px #212B86;
    height: 32px;
  }
  &__bar {
    background-image: linear-gradient(90deg, #C8CDFF 0%, #FFFFFF 100%);
    border-radius: 3px;
    width: 34%;
    @include media-breakpoint-up(md) {
      width: 25%;
    }
  }
  &__text {
    font-weight: bold;
    color: #dbdeff;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-left: 12px;
    font-size: 9.6px;
    line-height: 28px;
    @include media-breakpoint-up(md)  {
      font-size: 12px;
    line-height: 32px;
    }
  }
}

.raised-badge {
  position: absolute;
  text-align: center;
  padding-top: 14px;
  box-shadow: 0 24px 34px 0 rgba(37, 44, 102, 0.4);
  @include media-breakpoint-down(sm) {
    width: 55px;
    padding-top: 12px;
  }
  &--blue {
    left: 13.5%;
    @include media-breakpoint-up(md) {
      width: 72px;
      left: calc(17% - 72px/2);
    }
    
    .raised-badge__value {
      color: $white;
      background: #4ec4f2;
      &::before {
        border-bottom-color: #4ec4f2;
      }
      &::after {
        background-color: #4ec4f2;
      }
    }
    .raised-badge__caption {
      color: #0e7fab;
      background: #91e0ff;
    }
  }

  &--purpur {
    @include media-breakpoint-up(md) {
      width: 132px;
      left: calc(100% - 132px/2);
    }
    
    left: calc(100% - 91px/2);
    .raised-badge__value {
      color: $primary;
      background: #192373;
      &::before {
        border-bottom-color: #192373;
        @include media-breakpoint-down(sm) {
          left: calc(80% - 9px);
        }
      }
      &::after {
        background-color: #192373;
        @include media-breakpoint-down(sm) {
          left: calc(80% - 1px);
        }
      }
    }
    .raised-badge__caption {
      color: #111D84;
      background: $purpur;
    }
  }

  &__value {
    position: relative;
    letter-spacing: 0;
    font-size: 17.6px;
    line-height: 30px;
    border-radius: 4px 4px 0 0;
    @include media-breakpoint-up(md) {
      font-size: 22px;
      line-height: 37px;
      border-radius: 6px 6px 0 0;
    }
    &::before {
      content: '';
      position: absolute;
      border-color: transparent;
      border-style: solid;
      bottom: 28px;
      left: calc(50% - 9px);
      border-width: 0 9px 11px;
      @include media-breakpoint-up(md)  {
        bottom: 36px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 40px;
      top: -39px;
      left: calc(50% - 1px);
      @include media-breakpoint-up(md) {
        top: -47px;
      } 
    }
  }
  &__caption {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 1.5;
    border-radius: 0 0 6px 6px;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      font-size: 9.6px;
      line-height: 1.1;
      min-height: 13px;
      padding-top: 2px;
      border-radius: 0 0 4px 4px;
    }
  }
}


//ABOUT block
.about-block {
  position: relative;
  background-image: linear-gradient(52deg, #747fe9 16%, #3747dc 100%);
  background-image: url("../images/section-about-bg.svg");
  background-size: cover;
  padding: 50px 0 200px;
  @include media-breakpoint-up(md) {
    background-size: cover;
    padding-top: 120px; 
    padding-bottom: 356px;
  }
  @include media-breakpoint-down(sm) {
    background-image: url("../images/section-about-bg-sm.svg");
  }

  &__top {
    @include media-breakpoint-down(sm) {
      max-width: 90%;
    }
    h2 {
      margin-bottom: 28px;
      @include media-breakpoint-up(md) {
        margin-bottom: 24px;
      }
    }
    h3 {
      margin-bottom: 4px;
      @include media-breakpoint-down(sm) {
        line-height: 25px;
        margin-bottom: 0;
      }
    }
  }

  &::before {
    content: "";
    background: transparent url("../images/confetti.svg") no-repeat
      center/contain;
    background-size: 866px 489px;
    position: absolute;
    left: 0;
    right: 0;
    top: -25%;
    width: 866px;
    height: 489px;
    margin: auto;
    z-index: 0;
    max-width: 100%;
    @include media-breakpoint-down(sm) {
      top: -35%;
      background-image: url("../images/confetti-sm.svg");
      background-position: 15px 34px;
      background-size: 89%;
      opacity: 0.3;
    }
  }

  .container {
    position: relative;
    z-index: 10;
  }
}
.features {
  padding-top: 32px;
  @include media-breakpoint-up(md) {
    margin-top: 44px;
  }
}

.feature-item {
  margin-bottom: 42px;
  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 100px;
  }
  &__top {
    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
    }
  }
  &__icon {
    margin-bottom: 22px;
    display: block;
    @include media-breakpoint-down(md) {
      margin-right: 16px;
      margin-bottom: 0;
    }
    svg {
      @include media-breakpoint-down(sm) {
        height: 30px;
      }
    }
  }
  &__text {
    color: #e8edf2;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 24px;
    @include media-breakpoint-down(md) {
      text-align: justify;
    }
    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 30px;
      margin-top: 14px;
    }

  }
}

.video-press-block {
  position: relative;
  background: url("../images/section-press-bg.svg") no-repeat center/cover;

  .container {
    margin-top: -128px;
  }

  .video {
    @include media-breakpoint-down(sm) {
      transform: translateY(-72px);
      img {
        max-width: 95%;
      }
    }
    transform: translateY(-128px);
    position: relative;
    @include media-breakpoint-up(lg) {
      transform: translateY(-192px);
    }
  }


  .img-fluid {
    border-radius: $border-radius;
  }
}

.press {
  padding-top: 74px;
  padding-bottom: 15px;
  margin-top: -122px;
  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 90px;
  }
  &__logo--lg {
    @include img-retina(
      "../images/press-logos-lg.png",
      "../images/press-logos-lg@2x.png",
      105%,
      auto
    );
    @include media-breakpoint-up(md) {
      background-size: 101% auto;
    } 
    background-color: #f8fafd;
    background-blend-mode: multiply;
    background-position: center;
    width: 100%;
    padding-top: calc(154.42 / 1192 * 100%);
    margin-bottom: 15px;
  }
  &__logo--sm {
    @include img-retina(
      "../images/press-logos-sm.png",
      "../images/press-logos-sm@2x.png",
      105%,
      auto
    );
    background-color: #f8fafd;
    background-blend-mode: multiply;
    background-position: center;
    width: 100%;
    padding-top: calc(64.18 / 1246 * 100%);
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
