//PROBLEM & SOLUTION section

.ps-section {
  padding-bottom: 32px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 248px;
    @include img-retina(
      "../images/ps-puzzle-bg.png",
      "../images/ps-puzzle-bg@2x.png",
      cover,
      null
    );
    background-position: center -38px;
    background-repeat: no-repeat;
  }
  @media (min-width: 1560px) {
    background-size: 90%;
    background-position: center -8px;
  }
  @media (min-width: 1700px) {
    background-size: 90%;
    background-position: center -95px;
  }
  @media (min-width: 1815px) {
    background-size: 85%;
  }
  @media (min-width: 1925px) {
    background-size: 80%;
  }
  @media (min-width: 2030px) {
    background-size: 77%;
    background-position: center -115px;
  }
  @media (min-width: 2150px) {
    background-size: 72%;
  }
  @media (min-width: 2310px) {
    background-size: 70%;
    background-position: center -150px;
  }
  @media (min-width: 2480px) {
    background-size: 70%;
    background-position: center -258px;
  }
  &__text {
    color: $secondary;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 24px;
    @include media-breakpoint-up(md) {
      line-height: 30px;
      margin-bottom: 29px;
    }

  }
}

.problem-block {
  padding-top: 31px;
  padding-bottom: 115px;
  @include media-breakpoint-down(sm) {
    position: relative;
    top: -1px;
    background: #fff;
  }
  @include media-breakpoint-up(md) {
    padding-top: 120px;
  }
  &__content {
    padding-top: 8px;
    padding-left: 80px;
    h2 {
      margin-bottom: 24px;
    }
    @include media-breakpoint-down(md) {
      padding-left: 10px;
      padding-right: 8px;
      h2 {
        margin-bottom: 13px;
      }
    }
    .ps-section__text {
      span {
        @include media-breakpoint-down(sm) {
          background-color: rgba(189, 195, 255, 0.31);
        }
      }
    }
  }
  &__flow {
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      padding-left: 4px;
      padding-right: 19px;
    }
  }
}

.solution-block {
  padding-top: 14px;
  @include media-breakpoint-up(lg) {
    padding-top: 10px;
  }
  &__top {
    max-width: 816px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 586px;
    }
    h2 {
      margin-bottom: 19px;
      @include media-breakpoint-down(md)  {
        margin-bottom: 12px;
        margin-top: 4px;
      }
    }
    h3 {
      line-height: 32px; 
      @include media-breakpoint-down(md) {
        font-size: 14px;
        line-height: 24px;
        max-width: 84%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.solution-diagram-img {
  display: block;
  margin-top: 45px;
  @include media-breakpoint-up(lg)  {
    margin-top: 54px;
    svg {
      width: 94%;
    }
  }
}

.solutions {
  @include media-breakpoint-down(md) {
    margin-top: 45px;
  }
}

.solution-column-left {
  padding-right: 18px;
  padding-left: 18px;
  .solution-item__icon {
    margin-right: 17px;
  }
  @include media-breakpoint-up(lg) {
    padding-right: 60px;
    .solution-item__icon {
      margin-right: 30px;
    }
  }
}

.solution-column-right {
  padding-right: 36px;
  padding-left: 18px;

  .solution-item__icon {
    margin-right: 8px;
    margin-left: 10px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 71px;
    .solution-item__icon {
      margin-right: 8px;
    }
  }
  
}

.solution-item {
  margin-bottom: 24px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
    &__icon {
      max-width: 45px;
      height: auto;
    }
  } 

  &__text {
    margin-top: 4px;
    h4 {
      margin-bottom: 6px;
      @include media-breakpoint-up(lg) {
        margin-bottom: 10px;
      }
    }
  }
}