//SALE & ROADMAP section
.sr-blocks-top {
  h2 {
    margin-bottom: 10px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 22px;
    }
  }
  p {
    line-height: 24px;
    @include media-breakpoint-up(lg)  {
      line-height: 30px;
    }
  }
}

.sale-block {
  padding-top: 38px;
  padding-bottom: 583px;
  padding-left: 10px;
  background-image: linear-gradient(55deg, #7882e4 15%, #414ecc 100%);
  @include media-breakpoint-up(lg) {
    padding-top: 122px;
    padding-bottom: 615px;
    padding-left: 0;
  }

  ~ .roadmap-block {
    margin-top: -480px;
  }
  &__chart {
    @include media-breakpoint-down(sm) {
      margin-top: 8px;
    }
  }
  &__chart-column {
    @include media-breakpoint-down(sm) {
      &:nth-child(1) {
        padding-left: 0;
        .sale-chart__legend {
          margin-left: 4px;
        }
      }
    }
    @include media-breakpoint-up(xl) {
      &:nth-child(1) {
        padding-left: 42px;
        .sale-chart__legend {
          margin-left: 40px;
        }
      }
      &:nth-child(2) {
        padding-left: 52px;
        .sale-chart__legend {
          margin-left: 20px;
        }
      }
    }
    
  }
  .sr-blocks-top {
    max-width: 96%;
    @include media-breakpoint-up(lg)  {
      margin-left: 64px;
      max-width: 370px;
    }
  }
}
.specs-list {
  padding-top: 51px;
  padding-left: 15px;
  @include media-breakpoint-up(lg) {
    padding-top: 13px;
    padding-left: 28px;
  }
  &__item {
    @include media-breakpoint-down(sm) {
      &:nth-child(2n) {
        padding-left: 13px;
      }
      &:nth-child(2n+1) {
        padding-right: 13px;
      }
    }
  }
  .order-md-7 {
    @include media-breakpoint-up(lg) {
      margin-top: -42px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 13px;
    color: $primary;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
  &__value {
    font-size: 1rem;
    color: $white;
    line-height: 22px;
    margin-bottom: 23px;
    @include media-breakpoint-up(md) {
      font-size: 22px;
      margin-bottom: 31px;
      letter-spacing: -0.5px;
      line-height: 1;
    }
  }
}

.sale-chart {
  display: flex;
  @include media-breakpoint-up(lg) {
    margin-top: 114px;
  }
  @include media-breakpoint-only(md) {
    justify-content: center;
    margin-top: 35px;
  }
  &__item {
    position: relative;
    width: 100%;
    max-width: 180px;
    @include media-breakpoint-up(sm) {
      max-width: 300px;
    }
    .sale-chart__item-aspect-ratio {
      display: block;
      height: 0;
      width: 100%;
      padding-bottom: 100%;
      > img {
        position: absolute;
        top: -17px;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        @include media-breakpoint-up(sm) {
          top: 0;
        }
      }
    }
  }
  &__title {
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    color: $light;
    letter-spacing: 1.26px;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    top: calc(50% - 49px);
    left: calc(50% - 48px);
    @include media-breakpoint-up(sm) {
      font-size: 18px;
      line-height: 30px;
      left: calc(50% - 65px);
    }
  }
  &__legend {
    padding-top: 34px;
    @include media-breakpoint-up(md) {
      padding-top: 3px;
    }
    
  }
  &__legend-title {
    font-weight: bold;
    font-size: 13px;
    color: $primary;
    letter-spacing: 0.2px;
    line-height: 1;
    text-transform: uppercase;
    .circle {
      display: inline-block;
      margin-right: 6px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      &--light {
        background-color: $light;
      }
      &--primary {
        background-color: $primary;
      }
      &--purpur {
        background-color: $purpur;
      }
      &--purpur-dark {
        background-color: #2f3a9c;
      }
      &--yellow-light {
        background-color: #fffcf9;
      }
      &--yellow-semilight {
        background-color: #ffe1b7;
      }
      &--yellow-medium {
        background-color: #ffd257;
      }
      &--yellow-dark {
        background-color: #f6a900;
      }

    }
  }
  &__legend-value {
    font-size: 20px;
    color: $white;
    letter-spacing: 0;
    margin-bottom: 18px;
    @include media-breakpoint-up(md) {
      font-size: 30px;
    }
    sup {
      font-weight: bold;
      font-size: 0.8125rem;
      color: #182171;
      letter-spacing: 0.2px;
    }
  }
}

.roadmap-block {
  background-image: linear-gradient(-55deg, #3743ac 15%, #212c90 100%);
  padding-top: 12px;
  padding-bottom: 100px;
  padding-left: 8px;
  position: relative;
  @include media-breakpoint-up(md) {
    padding-top: 16px;
    padding-bottom: 80px;
    padding-left: 0;
    background: transparent url("../images/section-roadmap-bg.svg") no-repeat
      center top/cover;
    padding-bottom: 192px;
    min-height: 1122px;
    padding-top: 204px;
  }
  .sr-blocks-top {
    max-width: 330px;
    @include media-breakpoint-up(xl) {
      margin-left: 33px;
    }
  }
  &__content {
    position: relative;
  }
}


