// Teambrella Platform Section
.tb-platform-section {
  padding-top: 17px;
  padding-bottom: 6px;
  @include media-breakpoint-up(lg) {
    padding-top: 132px;
    padding-bottom: 140px;
  }
  &__top {
    h2 {
      margin-bottom: 20px;
      @include media-breakpoint-down(md) {
        margin-bottom: 25px;
      }
    }
    h3 {
      line-height: 31px;
      max-width: 60%;
      margin-bottom: 48px;
      @include media-breakpoint-down(md) {
        max-width: 95%;
        margin-bottom: 0;
        line-height: 24px;
        font-size: 1rem;
      }
    }
    
  }
}
.tb-platform-card {
  border-radius: 4px;
  padding-top: 50px;
  padding-bottom: 36px;
  @include media-breakpoint-up(lg) {
    margin-top: 84px;
    max-width: 90%;
    background: #ffffff;
    box-shadow: 0 2px 21px 0 rgba(21, 53, 90, 0.05),
      0 1px 3px 2px rgba(31, 39, 105, 0.04);
  }
  &__nav-title {
    margin-bottom: 16px;
  }

  &__text {
    font-size: 14px;
    color: $secondary;
    letter-spacing: 0;
    line-height: 22px;
    @include media-breakpoint-down(md) {
      padding-left: 2px;
    }
  }
  &__title-layer {
    font-weight: bold;
    color: $info;
    line-height: 1;
    margin-bottom: 15px;
    @include media-breakpoint-down(md) {
      margin-top: 7px;
      margin-bottom: 13px;
    }
  }
  &__layer-list {
    margin-top: 48px;
  }
  &__column {
    @include media-breakpoint-up(lg) {
      padding-left: 45px;
      padding-right: 30px;
    }
    @include media-breakpoint-up(xl) {
      padding-left: 75px;
      padding-right: 75px;
      &:first-child {
        padding-left: 90px;
      }
      &:nth-child(2) {
        padding-left: 60px;
      }
    }

    &.col-lg-5 {
      border-right: 1px solid #e8edf2;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .layer-tab-content-wrap {
      margin-top: 44px;
      @include media-breakpoint-down(md) {
        margin-top: 23px;
        margin-bottom: 90px;
        background: #FFFFFF;
        box-shadow: 0 2px 21px 0 rgba(21,53,90,0.05), 0 1px 3px 2px rgba(31,39,105,0.04);
        border-radius: 4px;
        padding: 12px 5px;
      }
    }

    .layer-tab-content {
      @include media-breakpoint-up(lg) {
        min-height: 320px;
        &__nav {
          margin-top: 40px;
        }
      }
      @include media-breakpoint-down(md) {
        &__nav {
          margin-top: 25px;
        }
        .tab-pane  {
          padding-top: 6px;
        }
      }
      
    }
    .layer-tab-img {
      @include media-breakpoint-down(md) {
        max-height: 320px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 80%;
      }
    }
  }
}

.tb-platform-layer {
  &__top {
    @include media-breakpoint-up(md)  {
      padding-left: 21px;
    }
  }
}

.tb-platform-tab-pane {
  @include media-breakpoint-down(md) {
    display: block !important;
    opacity: 1;
  }
}

.layer-icon-sm {
  @include media-breakpoint-up(lg) {
    display: none;
  }
  svg {
    @include media-breakpoint-up(sm) {
      height: calc(79px * 1.5);
      width: calc(49px * 1.5);
    }
  }
}

#v-coverage-flowchart {
  img {
    @include media-breakpoint-up(lg) {
      max-width: 283px;
    }
  }
}



.btn-layer {
  display: inline-flex;
  align-items: center;
  padding: 0;
  color: $text-muted;
  font-size: 1.25rem;
  transition: all 0.3s ease-in-out;
  animation: layer-bounce 0.6s;
  animation-iteration-count: 1;
  animation-delay: 1.6s;

  &:not(:first-child) {
    margin-top: -1rem;
  }

  &:nth-child(1) {
    z-index: 4;
  }
  &:nth-child(2) {
    z-index: 3;
  }
  &:nth-child(3) {
    z-index: 2;
  }
  &:nth-child(4) {
    z-index: 1;
  }

  .btn-layer__icon {
    flex: 0 0 126px;
    background: transparent url("../images/layer.svg") no-repeat center/contain;
    width: 126px;
    height: 92px;
    min-width: 0;
    margin-bottom: 4px;
  }

  &:hover,
  &:active,
  &.active {
    .btn-layer__text {
      color: #414ecc;
    }
    .btn-layer__icon {
      background-image: url("../images/layer-selected.svg");
    }
  }
  &:hover {
    .btn-layer__icon {
      animation: layer-icon 3s infinite;
    }
  }

  .btn-layer__text {
    white-space: nowrap;
    padding-left: 1.375rem;
    animation: layer-text 1.2s;
    animation-iteration-count: 1;
    animation-delay: 1.6s;
    // animation-delay: 1s;
  }
}

.nav-link--toggle {
  color: #66747d;
  padding: 1px 0;
  font-size: 14px;
  font-weight: bold;

  &:not(:first-child) {
    margin-left: 2rem;
  }

  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }

  &.active {
    color: #35abd8;
    border-bottom: 2px solid #91e0ff;
  }
}
