//TEAM section
.team-section {
  padding: 58px 10px 0px;
  background: #F8FAFD;
  background-image: url("../images/section-team-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 18%;
  @include media-breakpoint-up(md) {
    padding-top:  116px;
    padding-bottom: 65px;
    background-position: 0 50%;
  }

  &__photo {
    margin-top: 52px;
    @include media-breakpoint-up(md) {
      margin-top: 103px
    }
    .col-12 {
      @include media-breakpoint-up(lg) {
        &:nth-child(1) {
          padding-left: 30px;
        }
        &:nth-child(2) {
          padding-right: 30px;
        }
      }
      @include media-breakpoint-down(xs) {
        padding-left: 0;
        padding-right: 0;
      }
    }

  }
  &__photo-img {
    box-shadow: 0 2px 21px 0 rgba(21,53,90,0.05), 0 1px 3px 2px rgba(31,39,105,0.04);
    border-radius: 2.18px;
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }
  &__top {
    max-width: 795px;
    margin-bottom: 36px;
    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
      h2 {
        margin-bottom: 44px;
      }
    }
    
    h3 {
      line-height: 31px;
      margin-bottom: 84px;
      @include media-breakpoint-down(sm) {
        font-size: 1rem;
        line-height: 25px;
        margin-bottom: 57px;
      }
    }
    h4 {
      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }
}

.top-team-member {
  margin-bottom: 65px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 25px;
  }
}

.team-member-wrap {
  @include media-breakpoint-down(sm) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.team-member {
  background: #ffffff;
  box-shadow: 0 2px 21px 0 rgba(21, 53, 90, 0.05),
    0 1px 3px 2px rgba(31, 39, 105, 0.04);
  border-radius: 4px;
  letter-spacing: 0;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  margin-bottom: 24px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 67px;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 2px;
    margin-bottom: 22px;
  }
  .figure-img {
    margin-bottom: 10px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 7px;
    }
  }
  h4 {
    @include media-breakpoint-down(sm) {
      font-size: 11.45px;
    }
  }
  &__position {
    font-size: 1rem;
    margin-bottom: 6px;
    @include media-breakpoint-down(sm) {
      font-size: 9.16px;
      line-height: 1.2;
    }
  }
}