$timeline-icon-offset: 37px;
$timeline-corner-color: #212c90;

.roadmap-timeline-wrap {
  @include media-breakpoint-down(sm) {
    margin-top: 62px;
    padding-right: 10px;
  }
  @include media-breakpoint-up(lg) {
    width: 820px;
    position: absolute;
    top: -66px;
    right: 38px;
  }
  @media (min-width: 1250px) {
    top: -66px;
    right: 38px;
  }
}

.roadmap-timeline {
  position: relative;
  width: 100%;

  .roadmap-timeline__progress {
    &.is-past,
    &.is-future {
      position: absolute;
      left: -1px;
      top: 0;
      width: 1px;
      display: block;
      transition: height 2s linear;

      @include media-breakpoint-up(md) {
        left: 50%;
      }
    }

    &.is-past {
      background-color: #4ec4f2;
      height: 0;
      z-index: 2;
    }
    &.is-future {
      border-left: 1px dashed #7882e4;
      bottom: 0;
      z-index: 1;
    }
  }

  &__cell {
    display: flex;
    position: relative;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #2d389f;
      border: 3px solid #7882e4;
      border-radius: 50%;
      position: absolute;
      left: -5px;
      top: 20px;
      z-index: 10;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 24px;
      width: 36px;
      border-bottom: 1px dashed #7882e4;
    }
    @include media-breakpoint-down(sm) {
      &:not(:first-child) {
        margin-top: 34px;
      }
    }

    @include media-breakpoint-up(lg) {
      &:nth-child(3) {
        margin-top: 0;
      }
      &:nth-child(4) {
        margin-top: -23px;
      }
      &:nth-child(5) {
        margin-top: 0;
      }
      &:nth-child(6) {
        margin-top: -23px;
      }
      &:nth-child(7) {
        margin-top: -8px;
      }
      &:nth-child(8) {
        margin-top: -39px;
      }
      &:nth-child(9) {
        margin-top: -32px;
      }
      &:nth-child(10) {
        margin-top: -103px;
      }
      &:nth-child(11) {
        margin-top: -15px;
      }
      &:nth-child(12) {
        margin-top: -80px;
      }
    }
    &:nth-child(8),
    &:nth-child(11),
    &:nth-child(12) {
      .roadmap-timeline__text {
        max-height: 50px;
      }
    }
    &:nth-child(9),
    &:nth-child(10) {
      .roadmap-timeline__text {
        max-height: 75px;
      }
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      .roadmap-timeline__time {
        margin-bottom: 3px;
      }
    }

    &:nth-child(3) {
      .roadmap-timeline__item {
        padding: 15px 30px 14px 25px;
      }
    }
    &:nth-child(4) {
      .roadmap-timeline__item {
        padding: 15px 44px 15px 33px;
      }
    }
    &:nth-child(5) {
      .roadmap-timeline__item {
        padding: 16px 60px 14px 24px;
      }
    }
    &:nth-child(6) {
      .roadmap-timeline__item {
        padding: 15px 41px 15px 33px;
      }
    }
    &:nth-child(7) {
      .roadmap-timeline__item {
        padding: 16px 42px 14px 23px;
      }
    }
    &:nth-child(8) {
      .roadmap-timeline__item {
        padding: 19px 20px 16px 34px;
      }
    }
    &:nth-child(9) {
      .roadmap-timeline__item {
        padding: 18px 15px 30px 21px;
        @include media-breakpoint-up(lg) {
          max-width: 72%;
        }
      }
    }
    &:nth-child(10) {
      .roadmap-timeline__item {
        padding: 18px 42px 22px 32px;
      }
    }
    &:nth-child(11) {
      .roadmap-timeline__item {
        padding: 18px 15px 15px 22px;
      }
    }
    &:nth-child(12) {
      .roadmap-timeline__item {
        padding: 18px 42px 23px 32px;
      }
    }

    &.is-active {
      &::before {
        border-color: #4ec4f2;
      }
      &::after {
        border-bottom-style: solid;
        border-bottom-color: #4ec4f2;
      }

      .roadmap-timeline__item {
        &::after {
          content: "";
          width: 0;
          height: 0;
          display: block;
          border: 16px solid #fff;
          position: absolute;
          top: -1px;
          right: -1px;
          border-top-color: transparent;
          border-right-color: transparent;
        }
      }
    }
    &.is-future {
      .roadmap-timeline__item {
        background-color: rgba(#7882e4, 0.3);
        color: $white;
      }
      .roadmap-timeline__text {
        color: $primary;
      }
    }
    @include media-breakpoint-down(md) {
      &.is-active .roadmap-timeline__item {
        background: transparent linear-gradient(-135deg, transparent 15px, #fff 15px);
      }
      &.is-future .roadmap-timeline__item {
        background: transparent linear-gradient(-135deg, transparent 15px, rgba(120, 130, 228, 0.3) 15px);
      }
    }
    @include media-breakpoint-up(md) {
      &:nth-child(even) {
        left: 50%;
        width: 50%;

        &::after {
          width: 72px;
        }

        .roadmap-timeline__item {
          margin-left: 72px;
          text-align: left;
        }

        &.is-active .roadmap-timeline__item {
          background: transparent linear-gradient(-135deg, transparent 15px, #fff 15px);
        }
        &.is-future .roadmap-timeline__item {
          background: transparent linear-gradient(-135deg, transparent 15px, rgba(120, 130, 228, 0.3) 15px);
        }

        .roadmap-timeline__status {
          &.is-checked {
            left: 59px;
          }
          &.is-disabled {
            left: 55px;
          }
          &.is-active {
            left: 45px;
          }
        }
      }
      &:nth-child(odd) {
        display: inline-block;
        width: 50%;
        text-align: right;

        &::after {
          left: auto;
          right: 0;
          width: 72px;
        }
        &::before {
          left: auto;
          right: -5px;
        }
        .roadmap-timeline__item {
          margin-left: 0;
          margin-right: 72px;
          text-align: left;
        }
        &.is-active .roadmap-timeline__item {
          background: transparent linear-gradient(135deg, transparent 15px, #fff 15px);
        }
        &.is-future .roadmap-timeline__item {
          background: transparent linear-gradient(135deg, transparent 15px, rgba(120, 130, 228, 0.3) 15px);
        }
        .roadmap-timeline__status {
          left: auto;
          &.is-checked {
            right: 59px;
          }
          &.is-disabled {
            right: 55px;
          }
          &.is-active {
            right: 45px;
          }
        }
      }
    }
  }
  &__status {
    position: absolute;
    z-index: 2;

    &.is-active {
      top: 0;
      left: $timeline-icon-offset - 24px;
    }
    &.is-checked {
      top: 16px;
      left: $timeline-icon-offset - 10px;
    }
    &.is-disabled {
      top: 11px;
      left: $timeline-icon-offset - 14px;
    }
  }
  &__item {
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px 1px 1px 2px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 14px;
    margin-left: $timeline-icon-offset;
    max-width: 336px;
    filter: drop-shadow(0 0 7px rgba(37, 44, 102, 0.4)) drop-shadow(0 11px 18px rgba(37, 44, 102, 0.4));
    overflow: hidden;
  }
  &__time {
    font-size: $font-size-sm;
    line-height: 1;
    display: block;
    color: $blue;
    font-weight: bold;
  }
  &__name {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    line-height: 1.666666667;
  }
  &__text {
    font-size: 14px;
    color: $secondary;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    margin-top: 4px;
  }
}
