$icon-font-path: "../fonts/";
$font-family-base: "Akkurat-Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

//VARIABLE

//Grid
$container-max-widths: (
  sm: 570px,
  md: 720px,
  lg: 1000px,
  xl: 1214px
);
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 1040px,
  xl: 1244px
);

//Color
$primary: #bdc3ff;
$secondary: #7b8d9a;
$info: #414ecc;
$success: #1bb6f2;
$purpur: #7882E4;
$dark: #2c3948;
$light: #e7e9ff;
$text-muted: #95a5b1;
$blue: #35abd8;

//Navbar
$navbar-padding-y: 0.65rem;
$navbar-padding-x: 0;
$navbar-dark-color: $primary;
$navbar-dark-hover-color: #fff;
$navbar-dark-active-color: #fff;
$navbar-dark-toggler-border-color: transparent;

//Button
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1.875rem;
$btn-font-weight: bold;
$btn-border-radius: 3px;

$input-btn-padding-y-lg: 0.75rem;
$input-btn-padding-x-lg: 2rem;
$btn-border-radius-lg: 3px;

//Title
$h1-font-size: 54px;
$h2-font-size: 42px;
$h3-font-size: 22px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;
$headings-line-height: 1.3;

//Tooltip
$tooltip-color: $dark;
$tooltip-bg: #fff;
$tooltip-padding-y: 4px;
$tooltip-padding-x: 13px;
$tooltip-arrow-width: 10px;
$tooltip-arrow-height: 10px;

$card-bg: transparent;
$card-border-width: 0;
$card-spacer-x: 0;

$nav-tabs-link-active-color: $dark;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-hover-border-color: $info;
$nav-tabs-link-active-border-color: $info;
$nav-tabs-border-width: 2px;

$tooltip-font-size: 0.8125rem;


@import "../../node_modules/modal-video/scss/modal-video.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "timeline";
@import "header";
@import "footer";
@import "ps-section";
@import "sr-section";
@import "differents";
@import "team";
@import "tb-platform";
@import "countdown";

@include media-breakpoint-down(md) {
  html {
    font-size: 14px;
  }
}


@include media-breakpoint-down(sm) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 17px;
  }
}


//FONTS
@font-face {
  font-family: "Akkurat-Pro";
  src: url("../fonts/lineto-akkurat-pro-regular.eot");
  src: url("../fonts/lineto-akkurat-pro-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lineto-akkurat-pro-regular.woff2") format("woff2"),
    url("../fonts/lineto-akkurat-pro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Pro";
  src: url("../fonts/lineto-akkurat-pro-bold.eot");
  src: url("../fonts/lineto-akkurat-pro-bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lineto-akkurat-pro-bold.woff2") format("woff2"),
    url("../fonts/lineto-akkurat-pro-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Pro";
  src: url("../fonts/lineto-akkurat-pro-light.eot");
  src: url("../fonts/lineto-akkurat-pro-light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lineto-akkurat-pro-light.woff2") format("woff2"),
    url("../fonts/lineto-akkurat-pro-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/sf-pro-display_semibold.eot");
  src: url("../fonts/sf-pro-display_semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/sf-pro-display_semibold.woff") format("woff");
  font-weight: 300;
  font-style: 600;
}




//MAIN STYLE

.svg-icon {
  svg {
    width: 5rem;
    height: 5rem;
    transition: 0.3s all ease;
  }
  &--lg {
    svg {
      width: 100%;
      height: auto;
    }
  }
}

span {
  svg {
    max-width: 100%;
  }
}

//text
.primary-link-sm {
  font-weight: bold;
  color: $primary;
  font-size: 13px;
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  &:hover,
  &:active {
    color: $primary;
    text-decoration: none;
  }
}

.link-blue {
  color: #4ec4f2;
  font-weight: bold;
  border-bottom: 1px dashed #4ec4f2;
  &:hover,
  &:active {
    color: #4ec4f2;
    text-decoration: none;
  }
}

.text-gradient__green {
  color: #4ec4f2;
}

//PAGE STYLE

//VIDEO
.video-section {
  padding-bottom: 5px;
  padding-top: 50px;
  @include media-breakpoint-up(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__item {
    img {
      box-shadow: 0 2px 21px 0 rgba(21, 53, 90, 0.05),
      0 1px 3px 2px rgba(31, 39, 105, 0.04);
      border-radius: 3px;
    }
  }
  &__caption {
    margin-top: 26px;
    @include media-breakpoint-down(sm) {
      margin-top: 12px;
      margin-bottom: 30px;
      h4 {
        margin-bottom: 2px;
      }
    }
  }
  .col-12 {
    @include media-breakpoint-down(sm) {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
}
