extends layouts/default

block content

  include includes/ps-section
  
  include includes/differents-section

  include includes/tb-platform-section

  include includes/sr-section

  include includes/team-section

  include includes/video-section
