doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='description', content='Teambrella')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Teambrella
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='icon' type='image/png' href='favicon.png')
    // build:css styles/app.css
    link(rel='stylesheet', href='styles/app.css')
    // endbuild
  body(data-spy="scroll" data-target="#teambrella-navbar" data-offset="120")
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    include mixins
    include ../includes/header

    block content

    include ../includes/footer

    // build:js scripts/vendor.js
    script(src='/node_modules/jquery/dist/jquery.js')
    script(src='/node_modules/popper.js/dist/umd/popper.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.js')
    script(src='/node_modules/modal-video/js/modal-video.js')
    script(src='/node_modules/jquery-countdown/dist/jquery.countdown.js')
    // endbuild

    // build:js scripts/app.js
    script(src='scripts/app.js')
    // endbuild
