mixin icon(filename)
  !=icon(filename)

mixin layer-tab(name)
  .tab-content.layer-tab-content(id=`v-${name}-tabContent`)
    .tab-pane.fade(id=`v-${name}-app-ui` role="tabpanel" aria-labelledby=`v-${name}-app-ui-tab`)
      img.d-block.img-fluid.mx-auto(src=`images/layers/${name}/app-ui.png` srcset=`images/layers/${name}/app-ui@2x.png` alt=`App UI - Layer ${name}`).layer-tab-img
    .tab-pane.fade.active.show(id=`v-${name}-flowchart` role="tabpanel" aria-labelledby=`v-${name}-flowchart-tab`)
      img.d-block.img-fluid.mx-auto(src=`images/layers/${name}/flowchart.png` srcset=`images/layers/${name}/flowchart@2x.png` alt=`Flowchart - Layer ${name}`).layer-tab-img
  .nav.justify-content-center.layer-tab-content__nav(id=`v-${name}-tab` role="tablist" aria-orientation="vertical")
    a.nav-link.nav-link--toggle.active(id=`v-${name}-flowchart-tab` data-toggle="pill" href=`#v-${name}-flowchart` role="tab" aria-controls=`v-${name}-flowchart` aria-selected="true")
      span.d-inline-block.pr-2.align-middle
        +icon('icon-flow')
      | Flowchart
    a.nav-link.nav-link--toggle(id=`v-${name}-app-ui-tab` data-toggle="pill" href=`#v-${name}-app-ui` role="tab" aria-controls=`v-${name}-app-ui` aria-selected="false")
      span.d-inline-block.pr-2.align-middle
        +icon('icon-interface')
      | App UI
