
.differents-section
  .container
    .differents-section__top
      h2.text-dark.font-weight-bold.text-center What makes Teambrella different
      h3.text-secondary.text-center.d-none.d-md-block Short intro to this section that is showing off why Teambrelle is awesome.

    div.differents.differents--lg.mx-auto.text-center
      .differents__header
        div.differents__row.differents__row--header
          div.differents__item
            span.differents__logo
              +icon('teambrella-logo-blue')
          div.differents__item
            h6.differents__title P2P<br>Insurance
            .differents__subtitle Friendsurance / InsurePal
          div.differents__item
            h6.differents__title Oracles-based<br>Insurance
            .differents__subtitle Etherisc / AIGang
          div.differents__item
            h6.differents__title Regular/Mutual<br>Insurance
            .differents__subtitle AXA/ Lemonade
      .differents__body
        div.differents__row
          div.differents__item
            h6.differents__title.differents__title--side Based on
          div.differents__item
            .differents__text Empathy between<br>customers
          div.differents__item
            .differents__text Trust between<br>customers
          div.differents__item
            .differents__text Precise calculation<br>of risks
          div.differents__item
            .differents__text Precise calculation<br>of risks
        div.differents__row
          div.differents__item
            h6.differents__title--side Governed by
          div.differents__item
            .differents__text Customers &<br>their proxies
          div.differents__item
            .differents__text Insurance<br>Company
          div.differents__item
            .differents__text Oracles
          div.differents__item
            .differents__text Insurance<br>Company
        div.differents__row
          div.differents__item
            h6.differents__title--side Governed via
          div.differents__item
            .differents__text Voting &<br>Golden Rule
          div.differents__item
            .differents__text Policies &<br>Company
          div.differents__item
            .differents__text Smart<br>Contracts
          div.differents__item
            .differents__text Policies &<br>Regulations
        div.differents__row.differents__row--lg
          div.differents__item
            h6.differents__title--side Conflict of Interest
          div.differents__item
            .differents__text No
          div.differents__item
            .differents__text Yes, partially<br>transferred
          div.differents__item
            .differents__text No, for automated<br>oracles
          div.differents__item
            .differents__text Yes
      .collapse#DifferentsList
        .card.card-body.differents__body
          div.differents__row
            div.differents__item
              h6.differents__title--side Currently covers
            div.differents__item
              .differents__text Pets, bikes & Cars
            div.differents__item
              .differents__text Property & Casualty
            div.differents__item
              .differents__text Flighty delays, Phone batteries
            div.differents__item
              .differents__text Anything
          div.differents__row
            div.differents__item
              h6.differents__title--side Product Limitations
            div.differents__item
              .differents__text Doesn’t substitute compulsory insurance
            div.differents__item
              .differents__text Small groups of trusting parties only cover small claims/fractoins of larger claims
            div.differents__item
              .differents__text Only good for automated oracles. Expert oracles can be bribed on a regular basis
            div.differents__item
              .differents__text Ineffective for small/micro claims
          div.differents__row
            div.differents__item
              h6.differents__title--side Scaling
            div.differents__item
              .differents__text
                span
              .differents__text
                span
                | social involvement drives organc growth
              .differents__text
                span
                | empathy works indepent of group size
            div.differents__item
              .differents__text Problematic:
              .differents__text
                span
                |one can only trust those he/she knows
            div.differents__item
              .differents__text Average:
              .differents__text
                span
                |high costs of customer acquisition
            div.differents__item
              .differents__text Average:
              .differents__text
                span
                | high costs of customer acquisition

      .text-center
        button(type="button", data-toggle="collapse", data-target="#DifferentsList", aria-expanded="false", aria-controls="DifferentsList" ).btn.differents__btn See more differences

  .container-fluid.differents-wrap--sm
    .differents.differents--sm
      ul(role="tablist")#differents-tab.nav.nav-tabs.differents-tabs
        li.nav-item.differents-tabs__item
          a(data-toggle="tab", href="#based-on", role="tab" aria-controls="based-on" aria-selected="true").nav-link#based-on-tab.differents-tabs__link.active Based on
        li.nav-item.differents-tabs__item
          a(data-toggle="tab", href="#governed-by", role="tab" aria-controls="governed-by" aria-selected="true").nav-link#governed-by-tab.differents-tabs__link Governed by
        li.nav-item.differents-tabs__item
          a(data-toggle="tab", href="#governed-via", role="tab" aria-controls="governed-via" aria-selected="true").nav-link#governed-via-tab.differents-tabs__link Governed via
        li.nav-item.differents-tabs__item
          a(data-toggle="tab", href="#conflict-interest", role="tab" aria-controls="conflict-interest" aria-selected="true").nav-link#conflict-interest-tab.differents-tabs__link Conflict of Interest

      .tab-content#differents-tab-content
        .tab-pane.fade.show.active#based-on(role="tabpanel" aria-labelledby="based-on-tab")
          .row.no-gutters.differents__header
            .col-6
              .differents__item
                .differents__text Empathy between customers
            .col-6
              .differents__item.differents__item--sidebar
                span.differents__logo
                  +icon('teambrella-logo-blue')
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Trust between customers
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left P2P Insurance
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Precise calculation of risks
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left Oracles-based Insurance
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Precise calculation of risks
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left Regular/Mutual Insurance
        .tab-pane.fade#governed-by(role="tabpanel" aria-labelledby="governed-by-tab")
          .row.no-gutters.differents__header
            .col-6
              .differents__item
                .differents__text Customers & their proxies
            .col-6
              .differents__item.differents__item--sidebar
                span.differents__logo
                  +icon('teambrella-logo-blue')
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Insurance Company
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left P2P Insurance
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Oracles
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left Oracles-based Insurance
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Insurance Company
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left Regular/Mutual Insurance
        .tab-pane.fade#governed-via(role="tabpanel" aria-labelledby="governed-via-tab")
          .row.no-gutters.differents__header
            .col-6
              .differents__item
                .differents__text Voting & Golden Rule
            .col-6
              .differents__item.differents__item--sidebar
                span.differents__logo
                  +icon('teambrella-logo-blue')
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Policies & Company
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left P2P Insurance
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Smart Contracts
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left Oracles-based Insurance
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Policies & Regulations
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left Regular/Mutual Insurance
        .tab-pane.fade#conflict-interest(role="tabpanel" aria-labelledby="conflict-interest-tab")
          .row.no-gutters.differents__header
            .col-6
              .differents__item
                .differents__text No
            .col-6
              .differents__item.differents__item--sidebar
                span.differents__logo
                  +icon('teambrella-logo-blue')
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Yes, partially transferred
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left P2P Insurance
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text No, for automated oracles
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left Oracles-based Insurance
          .row.no-gutters.differents__body
            .col-6
              .differents__item
                .differents__text Yes
            .col-6
              .differents__item.differents__item--sidebar
                .differents__title.text-left Regular/Mutual Insurance

      .text-center
        button(type="button", data-toggle="collapse", data-target="#DifferentsList", aria-expanded="false", aria-controls="DifferentsList" ).btn.differents__btn.differents__btn--sm See more differences
