footer.footer-section
  .container
    .row
      .col-12.col-md-5.col-lg-5.footer-section__top
        h2.text-white.text-center.text-md-left.font-weight-bold Ready to buy tokens?
        p.top-text Short subtext here to convince to join in the fun.
      .col-12.col-md-7.col-lg-7
        .countdown-block.countdown-block--rectangle.flex-lg-row.ml-auto
          .countdown-block__wrap-content
            .countdown-block__text.text-uppercase.text-primary Join the sale before it ends
            include sale_countdown

          button(type="submit").btn.btn-success.btn-lg.tb-main-btn Buy Tokens


    .d-flex.justify-content-between.flex-column.flex-md-row.align-items-center.socials-stores-wrap

      .socials.order-md-2
        a.socials__link(href="#", data-toggle="tooltip", data-placement="top", title="Telegram")
          span.socials__icon(aria-hidden='true' aria-label='Telegram')
            +icon('telegram-icon')
          span.socials__text Telegram
        a.socials__link(href="#", data-toggle="tooltip", data-placement="top", title="Facebook")
          span.socials__icon(aria-hidden='true' aria-label='Facebook')
            +icon('facebook-icon')
          span.socials__text Facebook
        a.socials__link(href="#", data-toggle="tooltip", data-placement="top", title="Twitter")
          span.socials__icon(aria-hidden='true' aria-label='Twitter')
            +icon('twitter-icon')
          span.socials__text Twitter
        a.socials__link(href="#", data-toggle="tooltip", data-placement="top", title="GitHub")
          span.socials__icon(aria-hidden='true' aria-label='GitHub')
            +icon('github-icon')
          span.socials__text GitHub
        a.socials__link(href="#", data-toggle="tooltip", data-placement="top", title="LinkedIn")
          span.socials__icon(aria-hidden='true' aria-label='LinkedIn')
            +icon('linkedin-icon')
          span.socials__text LinkedIn
        a.socials__link(href="#", data-toggle="tooltip", data-placement="top", title="Bitcointalk")
          span.socials__icon(aria-hidden='true' aria-label='Bitcointalk')
            +icon('bitcointalk-icon')
          span.socials__text Bitcointalk

      .stores.order-md-1
        a(href="#").mr-4
          span.sr-only Download on the App Store
          span.stores__icon
            +icon('btn-apple')
        a(href="#")
          span.sr-only Download on the Google Play
          span.stores__icon
            +icon('btn-google')

    .footer-navbar
      .d-flex.flex-column.flex-md-row.justify-content-md-between.align-items-center
        nav.nav.order-md-2.footer-navbar__nav
          a(href="#").nav-link.footer-navbar__link Homepage
          a(href="#").nav-link.footer-navbar__link Terms & Conditions
          a(href="#").nav-link.footer-navbar__link Privacy Policy
        .copyright.mr-md-auto.footer-nav__link.order-md-1 © Teambrella
