

header.header-section
  .fixed-top
    .top-section
      .container.d-flex.justify-content-end
        a(href="#").top-section__item.primary-link-sm.text-uppercase
          span.top-section__icon
            +icon('language-icon')
          | english
        a(href="#").top-section__item.primary-link-sm.text-uppercase
          span.top-section__icon
            +icon('telegram-empty-icon')
          | telegram

    nav.navbar.navbar-expand-md.navbar-dark.tb-navbar
      .container
        a.navbar-brand(href="https://hlapo.com.ua/projects/teambrella/")
          span.sr-only Teambrella
          span.tb-navbar__brand-icon
            +icon('teambrella-logo-white')
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse.text-center
          ul#teambrella-navbar.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="#area-about") About
            li.nav-item
              a.nav-link(href="#area-platform") Platform
            li.nav-item
              a.nav-link(href="#area-roadmap") Roadmap
            li.nav-item
              a.nav-link(href="#area-team") Team
            li.nav-item
              a.nav-link(href="#area-faq") FAQ
          a(href="#").btn.btn-outline-primary.tb-navbar__btn Whitepaper
          .tb-navbar__links-block
            a(href="#").d-flex.primary-link-sm.text-uppercase
              span.top-section__icon
                +icon('telegram-icon')
              | telegram
            .tb-navbar__links-block-list.d-flex.w-100
              a(href="#").primary-link-sm.text-uppercase Spanish
              a(href="#").primary-link-sm.text-uppercase English
              a(href="#").primary-link-sm.text-uppercase Russian

  .container
    .hero-block.mx-auto
      .row
        .col-12.col-md-7.col-lg-8
          .hero-block__top
            h1.text-white.font-weight-bold P2P Coverage Platform
            .hero-block__title-content
              h3.text-primary You and your teammates
                span.text-gradient__green.ml-2 cover each other
                |. If you submit a claim within your team, your teammates pay it.

              .raised-progress-wrap
                .progress.raised-progress
                  .progress-bar.raised-progress__bar(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="20")
                  .raised-progress__text.d-none.d-md-block Raised $5M 
                  .raised-progress__text.d-block.d-md-none Raised 5000 ETH

                .raised-badge.raised-badge--blue
                  .raised-badge__value.d-none.d-md-block $
                    span.font-weight-bold 3M
                  .raised-badge__value.d-block.d-md-none 
                    img(src="../images/eth-icon-white.png", srcset="images/eth-icon-white.png 1x, images/eth-icon-white@2x.png 2x", alt="ETH").img-fluid.align-baseline
                    span.font-weight-bold 2K
                  .raised-badge__caption Soft Cap

                .raised-badge.raised-badge--purpur
                  .raised-badge__value.d-none.d-md-block $
                    span.font-weight-bold 20M
                  .raised-badge__value.d-block.d-md-none 
                    img(src="../images/eth-icon-purpur.png", srcset="images/eth-icon-purpur.png 1x, images/eth-icon-purpur@2x.png 2x", alt="ETH").img-fluid.align-baseline
                    span.font-weight-bold 10K
                  .raised-badge__caption Largest Prop

        .col-12.col-md-5.col-lg-4
          .countdown-block.countdown-block--square
            .w-100
              h4.countdown-block__title Token Sale is Live
              .countdown-block__text.text-uppercase.text-primary Join the sale before it ends
              include sale_countdown
            button(type="submit").btn.btn-success.btn-lg.tb-main-btn Buy Tokens

  .about-block.text-center(id="area-about")
    .container
      .about-block__top.mx-auto
        h2.text-white.font-weight-bold About Teambrella
        h3.text-light A short description about what we’re going to tell here.
        h3.text-light
          | Visit our
          a(href="#").link-blue.mx-2 Teambrella product website.
      .row.features
        .col-12.col-md-6.col-lg-3
          .feature-item
            .feature-item__top
              span.feature-item__icon
                +icon('functioning-platform-icon')
              h3.text-white.font-weight-bold Live platform
            .feature-item__text Teambrella already built its platform. We’re currently performing an invite-only beta testing with over 200 members of 6 teams, covering their pets.
        .col-12.col-md-6.col-lg-3
          .feature-item
            .feature-item__top
              span.feature-item__icon
                +icon('worldwide-icon')
              h3.text-white.font-weight-bold Worldwide
            .feature-item__text Our business model doesn’t require an insurance license in most jurisdictions. Our beta teams are in USA, Argentina, Peru, Russia, Germany, and.
        .col-12.col-md-6.col-lg-3
          .feature-item
            .feature-item__top
              span.feature-item__icon
                +icon('disrupt-icon')
              h3.text-white.font-weight-bold Disrupt 5tn market
            .feature-item__text Regulations effectively prevent insurance industry to be disrupted. We create a platform that doesn’t provide insurance but removes a need for it.
        .col-12.col-md-6.col-lg-3
          .feature-item
            .feature-item__top
              span.feature-item__icon
                +icon('vc_backed-icon')
              h3.text-white.font-weight-bold VC-Backed
            .feature-item__text Prior to the token sale, Teambrella raised $1.3M in seed funding from Shanda Group. Prior to the token sale, Teambrella raised $1.3M in seed funding.

  .video-press-block
    .container
      .video.text-center.js-video-vimeo-btn(data-video-id="254279437")
        img(src="images/video.jpg", alt="Video").img-fluid
      .press
        .press__logo--lg
        .press__logo--sm

