.ps-section

  .problem-block
    .container
      .row
        .col-12.col-md-6
          .problem-block__content
            h2.text-dark.font-weight-bold Problem
            p.ps-section__text Every insurance company pools funds from policyholders.
              span The more money left in the pool, the more is the company’s profit. 
              | It makes it profitable to deny even valid claims.
            p.ps-section__text In turn, customers see insurers as an adversary, not an ally. It leads to a high amount of frauds committed by otherwise law-abiding persons. 24% respondents find insurance fraud acceptable. And anti-fraud measures are costly and hostile.
            p.ps-section__text The result is unfair treatment, bureaucracy, intransparency and prices that are much higher than customers’ expectations.
        .col-12.col-md-6.text-center
          .problem-block__flow
            img(src="images/problem_flow.png", srcset="images/problem_flow.png 1x, images/problem_flow@2x.png 2x", alt="Problem Flow").img-fluid

  .solution-block
    .container
      .solution-block__top.mx-auto.text-center
        h2.text-dark.font-weight-bold Our Solution
        h3.text-secondary Teambrella is what insurance have always strived to be: a tool for sharing risks with peers and helping those in need. But this time, we don’t just declare the absence of conflict of interest - we align interests of all parties and make the whole process provably fair.
        img(src="images/puzzle_fill.png", srcset="images/puzzle_fill.png 1x, images/puzzle_fill@2x.png 2x", alt="Puzzle Fill").img-fluid.mx-auto.solution-diagram-img.d-none.d-sm-block.d-lg-none
        img(src="images/puzzle_fill-sm.png", srcset="images/puzzle_fill-sm.png 1x, images/puzzle_fill-sm@2x.png 2x", alt="Puzzle Fill").img-fluid.mx-auto.solution-diagram-img.d-block.d-sm-none        
      .row.solutions
        .col-12.col-lg-6.solution-column-left
          .solution-item.media
            img(src="images/little_puzzle_purpur.png", srcset="images/little_puzzle_purpur.png 1x, images/little_puzzle_purpur@2x.png 2x", alt="Puzzle Fill").img-fluid.text-center.solution-item__icon.align-self-start
            .solution-item__text.media-body
              h4.text-dark.font-weight-bold P2P Payments
              .ps-section__text We eliminate the source of the conflict of interest. There are no pools in Teambrella. Instead, teammates pay for claims directly from Ethereum wallets they control. Teambrella just can’t profit from refusing claims.

        .col-12.col-lg-6.solution-column-right
          .solution-item.media
            img(src="images/little_puzzle_green.png", srcset="images/little_puzzle_green.png 1x, images/little_puzzle_green@2x.png 2x", alt="Puzzle Fill").img-fluid.text-center.solution-item__icon.align-self-start

            .solution-item__text.media-body
              h4.text-dark.font-weight-bold Empathy
              .ps-section__text Teambrella is based on empathy. And while fairness is subjective we let our users use their empathy and decide what they believe is fair -- be it a team rule, acceptance of a new teammate or the amount of a reimbursement.
            
        .col-12.col-lg-6.solution-column-left
          .solution-item.media
            img(src="images/little_puzzle_blue.png", srcset="images/little_puzzle_blue.png 1x, images/little_puzzle_blue@2x.png 2x", alt="Puzzle Fill").img-fluid.text-center.solution-item__icon.align-self-start
            .solution-item__text.media-body
              h4.text-dark.font-weight-bold Transparency 
              .ps-section__text Teambrella enforces the Golden Rule: “Treat others the way you want to be treated”. If you file a valid claim and some guy ponders about voting to pay you nothing, unfairly, without a good reason - he knows that other teammates would .

        .col-12.col-lg-6.solution-column-right
          .solution-item.media
            img(src="images/little_puzzle_yellow.png", srcset="images/little_puzzle_yellow.png 1x, images/little_puzzle_yellow@2x.png 2x", alt="Puzzle Fill").img-fluid.text-center.solution-item__icon.align-self-start
            .solution-item__text.media-body
              h4.text-dark.font-weight-bold Liquid Democracy
              .ps-section__text Most teammates don’t vote all the time.  Each teammate may appoint one or more proxies to vote on his or her behalf. Teammates and proxies who do vote get compensated by the team. Good and fair proxies accumulate.
