.time-block.js-sale-countdown
  .time-block__item
    .time-block__item-value.js-sale-days 23
    .time-block__item-units.text-uppercase days
  .time-block__item
    .time-block__item-value.js-sale-hours 18
    .time-block__item-units.text-uppercase hours
  .time-block__item
    .time-block__item-value.js-sale-minutes 04
    .time-block__item-units.text-uppercase min
  .time-block__item
    .time-block__item-value.js-sale-seconds 51
    .time-block__item-units.text-uppercase sec
