.sr-section
  .sale-block
    .container
      .row
        .col-12.col-lg-6
          .sr-blocks-top
            h2.text-white.font-weight-bold Token Sale
            p.text-light Short intro about the coin itself, and why we’re basically What is BRELLA token. Interdum vel praesent donec dapibus phasellus eros, purus ad dignissim aliquam habitasse faucibus, sociis aptent ultrices elementum.
        .col-12.col-lg-6.specs-list
          .row.no-gutters

            .col-6.specs-list__item.order-md-1
              .specs-list__title Soft Cap
              .specs-list__value 2000 ETH

            .col-6.specs-list__item.order-md-3
              .specs-list__title Hard Cap
              .specs-list__value 10000 ETH

            .col-6.specs-list__item.order-md-5
              .specs-list__title Price
              .specs-list__value 1 ETH = 1000 BRELLA

            .col-6.specs-list__item.order-md-7
              .specs-list__title Currency
              .specs-list__value ETH only

            .col-6.specs-list__item.order-md-2
              .specs-list__title Presale
              .specs-list__value 2 April - 15 April. 20% bonus
            
            .col-6.specs-list__item.order-md-4
              .specs-list__title Crowdsale
              .specs-list__value 15 May - 30 May

            .col-12.col-md-6.specs-list__item.order-md-6
              .specs-list__title Restrictions
              .specs-list__value USA, Mainland China, Cuba, Iran, North Korea, Syria, Crimea

      .row.sale-block__chart
        .col-12.col-lg-6.sale-block__chart-column

          .sale-chart
            .sale-chart__item.sale-chart__item--distribution
              .sale-chart__item-aspect-ratio
                img(src="images/chart-distribution.png", srcset="images/chart-distribution.png 1x, images/chart-distribution@2x.png 2x", alt="Allocation of proceeds").img-fluid.sale-chart__icon
                .sale-chart__title Token<br>Distribution

            .sale-chart__legend
              .sale-chart__legend-title 
                span.circle.circle--light
                | Token distribution
              .sale-chart__legend-value 71,4
                sup %
              .sale-chart__legend-title 
                span.circle.circle--primary
                | Something Else
              .sale-chart__legend-value 14,3
                sup %
              .sale-chart__legend-title 
                span.circle.circle--purpur
                | Another Point
              .sale-chart__legend-value 10
                sup %
              .sale-chart__legend-title 
                span.circle.circle--purpur-dark
                | Last part
              .sale-chart__legend-value 4,3
                sup %

        .col-12.col-lg-6.sale-block__chart-column
          .sale-chart
            
            .sale-chart__legend.order-lg-2
              .sale-chart__legend-title 
                span.circle.circle--yellow-light
                | Token distribution
              .sale-chart__legend-value 50
                sup %
              .sale-chart__legend-title 
                span.circle.circle--yellow-semilight
                | Something Else
              .sale-chart__legend-value 17,3
                sup %
              .sale-chart__legend-title 
                span.circle.circle--yellow-medium
                | Another Point
              .sale-chart__legend-value 16
                sup %
              .sale-chart__legend-title 
                span.circle.circle--yellow-dark
                | Last part
              .sale-chart__legend-value 6
                sup %
            
            .sale-chart__item.sale-chart__item--allocation.order-lg-1
              .sale-chart__item-aspect-ratio
                img(src="images/chart-allocation.png", srcset="images/chart-allocation.png 1x, images/chart-allocation@2x.png 2x", alt="Allocation of proceeds").img-fluid.sale-chart__icon
                .sale-chart__title Allocation<br>of proceeds
  //- Roadmap block
  include timeline