.tb-platform-section(id="area-platform")
  .container
    .tb-platform-section__top.text-center.mx-auto
      h2.text-dark.font-weight-bold Teambrella Platform
      h3.mx-auto.text-secondary Short intro on the power of the Teambrella platform. Interdum vel praesent donec dapibus phasellus eros, purus ad.

    .tb-platform-card.mx-auto
      .row
        .col-12.col-lg-5.tb-platform-card__column
          h4.text-dark.font-weight-bold.tb-platform-card__nav-title Platform Layers
          p.tb-platform-card__text The Teambrella Platform consist of 4 layers that interact with each other. Click around to learn more about each layer.

          .nav.flex-column.justify-content-end.tb-platform-card__layer-list(id="v-pills-tab" role="tablist" aria-orientation="vertical")
            a.nav-link.btn-layer(id="v-pills-coverage-tab" data-toggle="pill" href="#v-pills-coverage" role="tab" aria-controls="v-pills-coverage" aria-selected="true").active
              .btn-layer__icon
              .btn-layer__text 1. Coverage
            a.nav-link.btn-layer(id="v-pills-socialization-tab" data-toggle="pill" href="#v-pills-socialization" role="tab" aria-controls="v-pills-socialization" aria-selected="false")
              .btn-layer__icon
              .btn-layer__text 2. Socialization
            a.nav-link.btn-layer(id="v-pills-decision-tab" data-toggle="pill" href="#v-pills-decision" role="tab" aria-controls="v-pills-decision" aria-selected="false")
              .btn-layer__icon
              .btn-layer__text 3. Decision
            a.nav-link.btn-layer(id="v-pills-blockchain-tab" data-toggle="pill" href="#v-pills-blockchain" role="tab" aria-controls="v-pills-blockchain" aria-selected="false")
              .btn-layer__icon
              .btn-layer__text 4. Blockchain
        .col-12.col-lg-7.tb-platform-card__column
          .tab-content(id="v-pills-tabContent")
            .tab-pane.tb-platform-tab-pane.fade(id="v-pills-coverage" role="tabpanel" aria-labelledby="v-pills-coverage-tab").show.active
              .tb-platform-layer
                .media.tb-platform-layer__top
                  img(src="images/1_layer-icon.png", srcset="images/1_layer-icon.png 1x, images/1_layer-icon@2x.png 2x", alt="1 Layer").img-fluid.layer-icon-sm.align-self-start.mr-3
                  .media-body
                    h4.tb-platform-card__title-layer 1. Coverage Layer
                    .tb-platform-card__text Flights information asymmetry lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                .layer-tab-content-wrap
                  +layer-tab('coverage')
            .tab-pane.tb-platform-tab-pane.fade(id="v-pills-socialization" role="tabpanel" aria-labelledby="v-pills-socialization-tab")
              .tb-platform-layer
                .media.tb-platform-layer__top
                  img(src="images/2_layer-icon.png", srcset="images/2_layer-icon.png 1x, images/2_layer-icon@2x.png 2x", alt="2 Layer").img-fluid.layer-icon-sm.align-self-start.mr-3
                  .media-body
                    h4.tb-platform-card__title-layer 2. Socialization Layer
                    .tb-platform-card__text Flights information asymmetry lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                .layer-tab-content-wrap
                  +layer-tab('socialization')
            .tab-pane.tb-platform-tab-pane.fade(id="v-pills-decision" role="tabpanel" aria-labelledby="v-pills-decision-tab")
              .tb-platform-layer
                .media.tb-platform-layer__top
                  img(src="images/3_layer-icon.png", srcset="images/3_layer-icon.png 1x, images/3_layer-icon@2x.png 2x", alt="3 Layer").img-fluid.layer-icon-sm.align-self-start.mr-3
                  .media-body
                    h4.tb-platform-card__title-layer 3. Decision Layer
                    .tb-platform-card__text Flights information asymmetry lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                .layer-tab-content-wrap
                  +layer-tab('decision')
            .tab-pane.tb-platform-tab-pane.fade(id="v-pills-blockchain" role="tabpanel" aria-labelledby="v-pills-blockchain-tab")
              .tb-platform-layer
                .media.tb-platform-layer__top

                  img(src="images/4_layer-icon.png", srcset="images/4_layer-icon.png 1x, images/4_layer-icon@2x.png 2x", alt="4 Layer").img-fluid.layer-icon-sm.align-self-start.mr-3
                  .media-body
                    h4.tb-platform-card__title-layer 4. Blockchain Layer
                    .tb-platform-card__text Flights information asymmetry lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                .layer-tab-content-wrap.mb-0
                  +layer-tab('blockchain')
                  
