.team-section(id="area-team")
  .container
    .team-section__top.text-md-center.mx-auto
      h2.text-dark.font-weight-bold Team
      h3.text-secondary Short intro about the coin itself, and why we’re basically What is BRELLA token. Interdum vel praesent donec dapibus phasellus eros, purus a.
      h4.text-dark.font-weight-bold Founders have worked together for 7 years
    .row.justify-content-center.top-team-member
      .col-6.col-lg-3.d-flex.align-items-stretch.team-member-wrap
        figure.figure.team-member.mx-auto
          img(src="images/alex_paperno.jpg", alt="Alex Paperno").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Alex Paperno
            .team-member__position.text-secondary CEO
      .w-100.d-block.d-lg-none
      .col-6.col-lg-3.d-flex.align-items-stretch.team-member-wrap
        figure.figure.team-member.mx-auto
          img(src="images/eugene_porubaev.jpg", alt="Eugene Porubaev").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Eugene Porubaev
            .team-member__position.text-secondary Principal Full-Stack Developer
      .col-6.col-lg-3.d-flex.align-items-stretch.team-member-wrap
        figure.figure.team-member.mx-auto
          img(src="images/vlad_kravchuk.jpg", alt="Vlad Kravchuk").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Vlad Kravchuk
            .team-member__position.text-secondary Principal Full-Stack Developer
    .row
      .col-6.col-lg-3.d-flex.align-items-stretch.team-member-wrap
        figure.figure.team-member.mx-auto
          img(src="images/jingkan_gu.jpg", alt="Jingkan Gu").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Jingkan Gu
            .team-member__position.text-secondary Board Member
      .col-6.col-lg-3.d-flex.align-items-stretch.team-member-wrap
        figure.figure.team-member.mx-auto
          img(src="images/denis_vasilin.jpg", alt="Denis Vasilin").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Denis Vasilin
            .team-member__position.text-secondary Senior Android Developer
      .col-6.col-lg-3.d-flex.align-items-stretch
        figure.figure.team-member.mx-auto
          img(src="images/yaroslav_pasternak.jpg", alt="Yaroslav Pasternak").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Yaroslav Pasternak
            .team-member__position.text-secondary Senior iOS Developer
      .col-6.col-lg-3.d-flex.align-items-stretch.team-member-wrap
        figure.figure.team-member.mx-auto
          img(src="images/kate_kalinina.jpg", alt="Kate Kalinina").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Kate Kalinina
            .team-member__position.text-secondary Community Manager
    .row
      .col-6.col-lg-3.d-flex.align-items-stretch.team-member-wrap
        figure.figure.team-member.mx-auto
          img(src="images/stasia_pisareva.jpg", alt="Stasia Pisareva").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Stasia Pisareva
            .team-member__position.text-secondary Community Manager
      .col-6.col-lg-3.d-flex.align-items-stretch.team-member-wrap
        figure.figure.team-member.mx-auto
          img(src="images/liza_myasoedova.jpg", alt="Liza Myasoedova").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Liza Myasoedova
            .team-member__position.text-secondary Junior Full-Stack Developer
      .col-6.col-lg-3.d-flex.align-items-stretch.team-member-wrap
        figure.figure.team-member.mx-auto
          img(src="images/kate_ryzhova.jpg", alt="Kate Ryzhova").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Kate Ryzhova
            .team-member__position.text-secondary Junior iOS Developer
      .col-6.col-lg-3.d-flex.align-items-stretch.team-member-wrap
        figure.figure.team-member.mx-auto
          img(src="images/yummygum.jpg", alt="Yummygum").figure-img.img-fluid
          figcaption.figure-caption.text-center
            h4.text-dark.font-weight-bold.mb-1 Yummygum
            .team-member__position.text-secondary UX/UI Designers
  
  .container-fluid
    .team-section__photo
      .row
        .col-12.col-md-6.text-center
          img(src="images/photo_1.jpg", alt="Office").img-fluid.team-section__photo-img
        .col-12.col-md-6.text-center
          img(src="images/photo_2.jpg", alt="Our team").img-fluid.team-section__photo-img
