.roadmap-block(id="area-roadmap")
  .container
    .roadmap-block__content
      .sr-blocks-top
        h2.text-white.font-weight-bold Roadmap
        p.text-light Short intro about the coin itself, and why we’re basically What is BRELLA token. Interdum vel praesent donec dapibus phasellus eros, purus ad dignissim aliquam habitasse faucibus, sociis aptent ultrices elementum.

      .roadmap-timeline-wrap
        .roadmap-timeline
          .roadmap-timeline__progress.is-future
          .roadmap-timeline__progress.is-past.js-timeline-animation
          - var state = null
          each item in timeline
            if item.status != 'disabled'
              - state = 'is-active'
            else
              - state = 'is-future'
            .roadmap-timeline__cell(class=state)
              .roadmap-timeline__status(class=`is-${item.status}`)
                +icon(`timeline-${item.status}`)
              .roadmap-timeline__item
                strong.roadmap-timeline__time= item.time
                h4.roadmap-timeline__name= item.name
                if item.text
                  .roadmap-timeline__text= item.text
