.video-section(id="area-faq")
  .container
    .row
      .col-12.col-md-6.text-center
        .video-popup.video-section__item
          .js-video-vimeo-btn(data-video-id="254279437")
            img(src="images/section-video.png", alt="Preview for 'Description of video'").img-fluid
        .video-section__caption
          h4.text-dark.font-weight-bold.text-center Description of video
          p.text-secondary.mb-1.text-center 4:13
      .col-12.col-md-6.text-center
        .video-popup.video-section__item
          .js-video-vimeo-btn(data-video-id="254279437")
            img(src="images/section-video.png", alt="Preview for 'Description of video'").img-fluid
        .video-section__caption
          h4.text-dark.font-weight-bold.text-center Description of video
          p.text-secondary.mb-1.text-center 4:13


